
/* =========================
    VARIABLES E IMPORTACIONES
   ========================= */


:root{
    --color-primario: #8C271E;
    --color-secundario: #F6E27F;
    --color-blanco: #FFFFFF;
    --color-oscuro: #222222;
}

/* =========================
            RESET
   ========================= */


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}


/* =========================
            CABECERA
   ========================= */

.cabecera{
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-secundario);
}


.cabecera__logo img {
    width: 100px;
    height: auto;
}


.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}


.menu__opcion {
    font-size: 1.2rem; 
    font-weight: bold;
    padding: 0.5rem 1rem;
    color: var(--color-blanco);
}


.menu__opcion:hover {
    color: var(--color-primario);
}


/* =========================
    PIE DE PÁGINA (FOOTER)
   ========================= */

.pie {
    text-align: center;
    padding: 1.5rem 1rem;
    font-size: 0.9rem;
    background-color: var(--color-primario);
    color: var(--color-blanco);
}

.pie__enlaces {
    margin: 0;
}

.pie__link {
    font-weight: bold;
    text-decoration: none;
    color: var(--color-blanco);
}

.pie__link:hover {
    color: var(--color-secundario);
}



/* =========================
    BLOQUE PRINCIPAL (MAIN)
   ========================= */

.inicio {
    text-align: center;
    padding: 2rem;
    color: var(--color-blanco)
}

.inicio__titulo {
    font-size: 2.5rem;
    font-family: "Georgia";
    margin-bottom: 1rem;
    color: var(--color-primario);
}

.inicio__descripcion {
    color: var(--color-oscuro);
    line-height: 1.6;
    max-width: 700px;
    margin: 0 auto 1rem auto;
}
